.card {
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;

  img {
    width: 100%;
  }

  p {
    font-size: 14px;
    font-weight: bold;
  }

  @media only screen and (min-width: 768px) {
    width: 49%;
  }
}
