.content {
  .left-content,
  .right-content {
    text-align: center;
  }

  .left-content {
     margin-bottom: 30px;
  }

  @media only screen and (min-width: 768px) {
    .container {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .left-content,
    .right-content {
      width: 50%;
    }

    .left-content {
       margin-bottom: 0;
    }

    .home-image {
      width: 75%;
      max-width: 430px;
    }
  }
}
