@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.header {
  .header-links-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .header-links {
    height: 35px;
    text-align: center;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 20px;
  }

  .header-name {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
  }

  hr {
    border-color: #d3d6d2;
  }

  @media only screen and (min-width: 768px) {
    .header-name {
      font-size: 40px;
    }

    .header-links-container {
      margin: 20px 0px;
    }

    .header-links {
      font-size: 18px;
    }
  }
}
